* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  display: flex;
  height: 100vh;
}
body aside {
  display: flex;
  flex-flow: column;
  padding: 10px;
  width: 300px;
  background-color: rgb(247, 241, 241);
}
body aside .aside_head {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  background-color: rgb(200, 194, 226);
  padding: 25px;
}
body aside .aside_head_user {
  display: flex;
  gap: 15px;
  align-items: center;
}
body aside .aside_head_user figure {
  width: 50px;
  height: 50px;
}
body aside .aside_head_user figure img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body aside .aside_head_icons {
  display: flex;
  gap: 15px;
  align-items: center;
}
body aside .aside_button {
  justify-content: center;
  align-items: center;
  display: flex;
}
body aside .aside_button button {
  padding: 10px;
  border-radius: 8px;
  background-color: blanchedalmond;
  text-transform: capitalize;
  border: none;
  width: 100%;
  margin: 10px;
}
body aside .aside_contact {
  border-radius: 15px;
  background-color: rgb(213, 199, 231);
  display: flex;
  margin: 10px;
  height: calc(100% - 200px);
  padding: 10px;
}
body aside .aside_contact ul {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #ffffff rgb(199, 131, 6);
}
body aside .aside_contact ul li {
  display: flex;
  gap: 15px;
  align-items: center;
  border-bottom: solid 1px black;
  padding: 10px 5px;
  width: 100%;
  position: relative;
}
body aside .aside_contact ul li figure {
  width: 50px;
  height: 50px;
}
body aside .aside_contact ul li figure img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
body aside .aside_contact ul li figure img img {
  width: 100%;
  height: auto;
  display: block;
}
body main {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: blanchedalmond;
}
body main input[type=text] {
  display: flex;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  margin-top: auto;
}
body main input[type=text]:focus {
  border-color: dodgerblue;
}
body main figure {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  width: 200px;
  height: 200px;
}
body main figure img {
  font-size: 30%;
  width: 200px;
  /* Cambia 200px al ancho deseado */
  height: 150px;
  /* Cambia 150px a la altura deseada */
}
body main section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-width: 500px;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */